<!DOCTYPE html>
<html lang="ar" dir="rtl">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="Author: HiBootstrap, Category: Construction, Multipurpose, HTML, SASS, Bootstrap" />
        <!-- title -->
        <title>Constik - Real Estate Construction & Building Company HTML Template</title>
        
          <!-- bootstrap css -->
        <link rel="stylesheet" href="assets/css/bootstrap.rtl.min.css" />
        <!-- fontawesome CSS -->
        <link rel="stylesheet" href="assets/css/fontawesome.min.css" />
        <!-- flaticon CSS -->
        <link rel="stylesheet" href="assets/css/flaticon.css" />
        <!-- animate CSS -->
        <link rel="stylesheet" href="assets/css/animate.min.css" />
        <!-- nice select CSS -->
        <link rel="stylesheet" href="assets/css/nice-select.css">
        <!-- magnific popup CSS -->
        <link rel="stylesheet" href="assets/css/magnific-popup.min.css" />
        <!-- owl-carousel CSS -->
		<link rel="stylesheet" href="assets/css/owl.carousel.min.css" />
        <!-- mean-menu CSS -->
        <link rel="stylesheet" href="assets/css/meanmenu.min.css" />
        <!-- main style CSS -->
        <link rel="stylesheet" href="assets/css/style.css" />
        <!-- responsive CSS -->
        <link rel="stylesheet" href="assets/css/responsive.css" />
        <!-- theme dark CSS -->
        <link rel="stylesheet" href="assets/css/theme-dark.css" />
        <!-- rtl CSS -->
        <link rel="stylesheet" href="assets/css/rtl.css" />

        <!-- favicon -->
        <link rel="icon" href="assets/img/favicon.png" type="image/png"/>
    </head>
    <body>
        <!-- start preloader area-->
        <div class="preloader-main">
            <span class="loader"> </span>
        </div>
        <!--end preloader area -->
		
		<!-- start comingsoon section -->
		<section class="comingsoon-section">
			<div class="container">
				<div class="comingsoon-box">
					<div class="logo">
						<img src="assets/img/form-logo.png" alt="logo">
					</div>
					<!-- Title Box -->
					<div class="title-box">
						<h2>coming soon</h2>
						<div class="text">get ready! Something relly cool is coming</div>
					</div>
					<div id="timer" class="flex-wrap d-flex justify-content-center">
						<div id="days" class="align-items-center flex-column d-flex justify-content-center"></div>
						<div id="hours" class="align-items-center flex-column d-flex justify-content-center"></div>
						<div id="minutes" class="align-items-center flex-column d-flex justify-content-center"></div>
						<div id="seconds" class="align-items-center flex-column d-flex justify-content-center"></div>
					</div>
					<form class="newsletter-form" data-toggle="validator">
						<div class="input-group">
							<input class="form-control" placeholder="E-mail" type="text" name="EMAIL" required=""
							autocomplete="off">
							<div class="cta-btn">
								<button class="primary-btn" type="submit">
									Subscribe
								</button>
							</div>
						</div>
						<div id="validator-newsletter" class="form-result"></div>
					</form>
				</div>
			</div>
		</section>
		<!-- end comingsoon section -->

        <!-- jquery JS -->
        <script src="assets/js/jquery.min.js"></script>
         <!-- bootstrap bundle JS -->
        <script src="assets/js/bootstrap.bundle.min.js"></script>
        <!-- nice select JS -->
        <script src="assets/js/jquery.nice-select.min.js"></script>
        <!-- magnific popup JS -->
		<script src="assets/js/jquery.magnific-popup.min.js"></script>
		<!-- waypoints js -->
        <script src="assets/js/jquery.waypoints.js"></script>
        <!-- counter js -->
        <script src="assets/js/counter-up.js"></script>
		<!-- owl carousel JS -->
        <script src="assets/js/owl.carousel.min.js"></script>
        <!-- mean menu JS -->
        <script src="assets/js/meanmenu.min.js"></script>
        <!-- form validator -->
        <script src="assets/js/form-validator.min.js"></script>
        <!-- contact form JS -->
        <script src="assets/js/contact-form-script.js"></script>
        <!-- ajax chimp JS -->
        <script src="assets/js/jquery.ajaxchimp.min.js"></script>
        <!-- script JS -->
        <script src="assets/js/script.js"></script>
    </body>
</html>
